a {
	color: #ffd03f;
}

.name {
	font-size: 3.5rem;
	font-family: "century gothic";
	font-weight: bold;
}

.explanation {
	font-family: Verdana;
}
.head_container_contact div {
	position: relative;
	right: -10vw;
	top:47vh;

	font-family: Verdana;
}

.name, .explanation {
	position: relative;
	left: 10vw;
	top:42vh;
}

.parent_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60vh 7vh 1fr;
	height: 100vh;
	color: white;
}

.head_container {
	background-image: linear-gradient(to bottom, rgba(0, 2, 33, 0.55), rgba(0, 2, 33, 0.80)), url('adventure.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.bar {
	background-color: #1a203f;
	z-index: 1;
	box-shadow: 0 0 20px black;
}

.body_container {
	background-color: #342056;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.body_container_about {
	background: #101427;
	padding: 2vw;
}

.body_container_info {
	background: #13172e;
	padding: 2vw;
}

.body_container_expertise {
	background: #101427;
	padding: 2vw;
}

.body_container_resume {
	grid-column: 1/4;
	background: #0d101f;
	padding: 2vw;
}




